<!DOCTYPE html>  
<html>  
<head>  
    <title>jQuery bootstrap-select可搜索多选下拉列表插件-www.daimajiayuan.com</title>  
    <script type="text/javascript" src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>  
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>    
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">    

    <!-- 3.0 -->  
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">  
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


    <script type="text/javascript">  
        $(window).on('load', function () {  
  
            $('.selectpicker').selectpicker({  
                'selectedText': 'cat'  
            });  
  
            // $('.selectpicker').selectpicker('hide');
        });  
    </script>
</head>  
<body>
    <label for="id_select"></label>
    <div class="container col-md-offset-4" >
        <label for="id_select">请输入关键词</label>
    <select id="id_select" class="selectpicker multiple bla bla bli" data-live-search="true" data-size="10">
        {% for info in content %}
        <option>{{ info }}</option>
        {% endfor %}
    </select>
    </div>
</body>  
</html>  