{% extends 'base-head.html' %}

{% block body %}
<div class="x-nav">
  <span class="layui-breadcrumb">
    <a href="#">首页</a>
    <a>
      <cite>爬虫服务器管理</cite></a>
  </span>
</div>
<div class="x-body">
  <xblock>
    <button class="layui-btn" onclick="x_admin_show('添加主机','./hadd')"><i class="layui-icon"></i>添加</button>
    <span class="x-right" style="line-height:40px">爬虫服务器数量: {{ counts }}  </span>
  </xblock>
  <table class="layui-table" id="host_list">
    <thead>
      <tr>
        <th>状态</th>
        <th>ID</th>
        <th>别称</th>
        <th>主机地址</th>
        <th>端口</th>
        <th>加入时间</th>
        <th>操作</th>
    </thead>
    <tbody>
{#    <tr v-for="info in hosts">#}
{#        <td class="td-status">#}
{#          <span class="layui-btn layui-btn-normal layui-btn-mini" id="run_status" v-text="info.status"></span>#}
{#        </td>#}
{#        <td v-text="info.id"></td>#}
{#        <td v-text="info.host_name"></td>#}
{#        <td v-text="info.ip_address"></td>#}
{#        <td v-text="info.port_num"></td>#}
{#        <td v-text="info.create_time"></td>#}
{#        <td class="td-manage">#}
{#          <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">#}
{#            <i class="layui-icon">&#xe601;</i>#}
{#          </a>#}
{#          <a title="编辑"  onclick="x_admin_show('编辑','./hadd')" href="javascript:;">#}
{#            <i class="layui-icon">&#xe642;</i>#}
{#          </a>#}
{#          <a title="删除" onclick="member_del(this,[{info.id}])" href="javascript:;">#}
{#            <i class="layui-icon">&#xe640;</i>#}
{#          </a>#}
{#        </td>#}
{##}
{##}
{#    </tr>#}
    {% for host in host_list %}
      <tr>
        <td class="td-status">
          <span class="layui-btn layui-btn-normal layui-btn-mini" id="run_status"></span></td>
        <td>{{ host.id }}</td>
        <td>{{ host.host_name }}</td>
        <td>{{ host.ip_address }}</td>
        <td>{{ host.port_num }}</td>
        <td>{{ host.create_time }}</td>
        <td class="td-manage">
          <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
            <i class="layui-icon">&#xe601;</i>
          </a>
          <a title="编辑"  onclick="x_admin_show('编辑','./hupdate?id={{ host.id }}')" href="javascript:;">
            <i class="layui-icon">&#xe642;</i>
          </a>
          <a title="删除" onclick="member_del(this,{{ host.id }})" href="javascript:;">
            <i class="layui-icon">&#xe640;</i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="page">
    <div>
      <a class="prev" href="">&lt;&lt;</a>
      <a class="num" href="">1</a>
      <span class="current">2</span>
      <a class="num" href="">3</a>
      <a class="num" href="">489</a>
      <a class="next" href="">&gt;&gt;</a>
    </div>
  </div>

</div>

{#    <script>#}
{##}
{#        var vm = new Vue({#}
{#            delimiters: ['[{', '}]'],#}
{#            el: '#host_list',#}
{#            data: {#}
{#                hosts: [],#}
{#            },#}
{#            created: function () {#}
{#                var csrf_token = "{{ csrf_token() }}";#}
{##}
{#                $.ajaxSetup({#}
{#                    beforeSend: function (xhr, settings) {#}
{#                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {#}
{#                            xhr.setRequestHeader("X-CSRFToken", csrf_token);#}
{#                        }#}
{#                    }#}
{#                });#}
{##}
{#                var _self = this;#}
{##}
{#                function get_host_list() {#}
{#                    $.get({#}
{#                        url: '/client/test',#}
{##}
{#                        success: function (data) {#}
{#                            _self.hosts = data.host_list;#}
{#                            $(_self.hosts).each(function (index) {#}
{#                                var ip_address = this.ip_address;//ip地址#}
{#                                var port_num = this.port_num;//端口号#}
{#                                $.post({#}
{#                                    url: 'http://127.0.0.1:5000/client/daemonstatus',#}
{#                                    data: {#}
{#                                        'ip_address': ip_address,#}
{#                                        'port_num': port_num#}
{#                                    },#}
{#                                    success: function (data) {#}
{#                                        if (data['code'] == 200) {#}
{#                                            vm.$set(_self.hosts[index], 'status', '正在运行')#}
{#                                        } else {#}
{#                                            vm.$set(_self.hosts[index], 'status', '连接失败')#}
{#                                        }#}
{#                                    },#}
{#                                    error: function () {#}
{#                                        vm.$set(_self.hosts[index], 'status', '未连接')#}
{#                                    }#}
{#                                })#}
{#                            });#}
{#                        },#}
{#                        error: function () {#}
{#                            console.log('error');#}
{#                        }#}
{#                    });#}
{#                }#}
{##}
{#                get_host_list();#}
{#                setInterval(function () {#}
{#                    get_host_list();#}
{#                }, 30000);#}
{#            }#}
{##}
{#        })#}
{##}
{#    </script>#}


    <script>

        $(function () {
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            $("#host_list").find("tr").each(function () {
                var tdArr = $(this).children('td');
                var ip_address = tdArr.eq(3).text();//ip地址
                var port_num = tdArr.eq(4).text();//端口号

                tdArr.children('span').eq(0).text('连接中...');

                $.post({
                    url: '/client/daemonstatus',
                    data: {
                        'ip_address': ip_address,
                        'port_num': port_num
                    },
                    success: function (data) {
                        if (data['code'] == 200) {
                            tdArr.children('span').eq(0).text('正在运行');
                        } else {
                            tdArr.children('span').eq(0).text('连接失败');
                        }
                    },
                    error: function () {
                        tdArr.children('span').eq(0).text('未连接');
                    }
                });

            });
        });

    </script>


<script>
  layui.use('laydate', function(){
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
      elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#end' //指定元素
    });
  });

   /*用户-停用*/
  function member_stop(obj,id){
      layer.confirm('确认要停用吗？',function(index){

          if($(obj).attr('title')=='启用'){

            //发异步把用户状态进行更改
            $(obj).attr('title','停用');
            $(obj).find('i').html('&#xe62f;');

            $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
            layer.msg('已停用!',{icon: 5,time:1000});

          }else{
            $(obj).attr('title','启用')
            $(obj).find('i').html('&#xe601;');

            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            layer.msg('已启用!',{icon: 5,time:1000});
          }

      });
  }

  /*用户-删除*/
  function member_del(obj,id){
      layer.confirm('确认要删除吗？',function(index){
          var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

            data = {
                    'host_id':id
                };
            $.ajax({
                dataType:'json',
                type: 'POST',
                url: '/client/dhost',
                data: data,

                success: function (data) {
                    if(data['code'] == 200){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        return false;
                    }else{
                        var message = data['message']
                        alert('增加失败: '+ message );
                    }
                },
            'fail': function () {
                alert('网络异常');
            }
        });
      });
  }



  function delAll (argument) {

    var data = tableCheck.getData();

    layer.confirm('确认要删除吗？'+data,function(index){
        //捉到所有被选中的，发异步进行删除
        layer.msg('删除成功', {icon: 1});
        $(".layui-form-checked").not('.header').parents('tr').remove();
    });
  }
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();</script>
{% endblock %}
