{% extends 'base-head.html' %}

{% block body %}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="#">首页</a>
        <a>
          <cite>项目列表</cite></a>
      </span>
    </div>
    <input type="hidden" id="csrf_input" name="csrf_token" value="{{ csrf_token() }}">
    <div class="x-body">
        <table class="layui-table" id="project_list">
            <thead>
            <tr>
                <th>名称</th>
                <th>大小</th>
                <th>操作</th>
            </thead>
            <tbody>
            <tr :name="item.name" v-for="item in project_list">
                <td>{[ item.name ]}</td>
                <td>{[ item.size ]}</td>
                <td class="td-manage">
                    <a title="部署" onclick="x_admin_show('编辑','host-add.html')" href="javascript:;">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" @click='del_project(item.name)'>
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">489</a>
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>

    </div>
    <script>

        Array.prototype.removeItem = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i].name == val) {
                    this.splice(i, 1);
                    break;
                }
            }
        };

        new Vue({
            delimiters: ['{[', ']}'],
            el: "#project_list",
            data: {
                project_list: []
            },
            created: function () {
                _self = this;
                $.getJSON('/api/projects', {}, function (data, status) {
                    _self.project_list = data.data.files;
                });
            },
            methods: {
                del_project: function (filename) {
                    _self = this;
                    layer.confirm('确认要删除吗？', function (index) {
                        $.deleteJSON('/api/projects', {filename: filename}, $('#csrf_input').val(), function (data, status) {
                            if (data.code == 200) {
                                _self.project_list.removeItem(filename);
                                layer.msg('已删除!', {icon: 1, time: 1000});
                            } else {
                                layer.msg(data.msg, {icon: 1, time: 1000});
                            }
                        });

                    });

                }
            }
        });
    </script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        /*用户-停用*/
        function member_stop(obj, id) {
            layer.confirm('确认要停用吗？', function (index) {

                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    $(obj).attr('title', '停用');
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                    layer.msg('已停用!', {icon: 5, time: 1000});

                } else {
                    $(obj).attr('title', '启用');
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                    layer.msg('已启用!', {icon: 5, time: 1000});
                }

            });
        }

        /*用户-删除*/
        function member_del(obj, id) {

        }


        function delAll(argument) {

            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data, function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {icon: 1});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }
    </script>
{% endblock %}