{% extends 'base-head.html' %}

{% block body %}
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote" id="time_data">欢迎管理员：
            <span class="x-red">{{ username }}</span>！{[ time ]}
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim=""
                                 lay-indicator="inside"
                                 lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this" id="data_area">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>主机数量</h3>
                                                <p>
                                                    <cite>{[ host_count ]}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>项目数量</h3>
                                                <p>
                                                    <cite>{[ project_count ]}</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <th>版权所有</th>
                        <td>xxxxx(xxxx)
                            <a href="http://www.xxx.com/" class='x-a' target="_blank">访问官网</a></td>
                    </tr>
                    <tr>
                        <th>开发者</th>
                        <td>SuanCaiYu(suancaiyu0413@gmail.com)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,x-admin提供的开源代码。</blockquote>
    </div>
    <script>
        var DataArea = new Vue({
            delimiters: ['{[', ']}'],
            el: '#data_area',
            data: {
                'host_count': 0,
                'project_count': 0
            },
            created: function () {
                var _self = this;

                function get_baseinfo() {
                    $.getJSON('/api/baseinfo', {}, function (data, status) {
                        _self.host_count = data.data.client_count;
                        _self.project_count = data.data.eggfile_count;
                    });
                }

                get_baseinfo();
                setInterval(function () {
                    get_baseinfo();
                }, 10000);
            }
        });

        var TimeData = new Vue({
            delimiters: ['{[', ']}'],
            el: '#time_data',
            data: {
                'time': new Date().toLocaleString()
            },
            created: function () {
                _self = this;
                setInterval(function () {
                    _self.time = new Date().toLocaleString();
                }, 1000);
            }
        });
    </script>
{% endblock %}