{% extends 'spider_base.html' %}

{% block title %}
项目调度
{% endblock %}

{% block head %}
<script src="{{ url_for('static',filename='js/ajax_projectlist.js')}}"></script>
    <style>
        .top-box button{
            float: right;
        }
    </style>
{% endblock %}


{% block page_title %}
项目调度页面
{% endblock %}


{% block main_content %}
    <div class="top-box">
        <span style=" font-weight: bold;font-size:16px;">项目名称</span>
        <button class="btn btn-info"  >刷新</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr >
                <th>ID</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody id="host_list" ip-address="{{ host.ip_address }}", port-num="{{ host.port_num }}" , host-id="{{ host.id }}" > </tbody>

        <tbody id="spider_list" >
        </tbody>

    </table>

        <div id="collapse-text">
        </div>

{% endblock %}
